* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background-color: #4E47FF;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(213, 196, 196, 0.504);
    color: #327cde;
    font-weight: bolder;
}

.hero {
    background-image: url('../images/Hero-bg.png');
    width: 1140;
    height: 698px;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.logo {
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
}

.hero-content {
    justify-content: center;
    margin-top: 220px;
    text-align: center;
    padding: 300px auto 300px;


}

.hero-content h1 {
    font-size: 400%;
    font-weight: bold;
}

.focus {
    margin-top: 40px;
}

.bgc {
    background-color: #c7b5b511;
}

.action {
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
    gap: 220px;
}

.action-left h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.action-left {
    padding-right: 20px;
    padding-top: 50px;
}

.action-left p {
    margin-bottom: 20px;
    font-size: 24px;
    margin-top: 15px;
    padding-top: 10px;
}

.action-right img {
    border-radius: 50px;
}

.dark-3 {
    color: rgba(37, 36, 50, 0.5);
}

.action-title {
    font-size: 40px;
}

.productive {
    background-color: hsla(242, 100%, 64%, 0.102);
    margin: 6px 150px;
    padding: 50px 90px;
    text-align: center;
    border-radius: 25px;
}

.productive h1 {
    font-weight: bold;
    font-size: 45px;
    margin-top: 30px;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.card h3 {
    font-weight: bold;
    font-size: 70px;
    color: #4E47FF;
}

.card p {
    color: rgba(37, 36, 50, 0.5);
    font-size: larger;
}

.feedbacks {
    padding: 60px 20px 80px;
    text-align: center;
}

.feedback-title {
    font-size: 4em;
    font-weight: 700;
    color: #1f1f1f;
    margin-bottom: 40px;
}

.feedback-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.feedback {
    border-radius: 16px;
    border: 1px solid rgba(216, 223, 93, 0.64);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    padding: 20px;
    width: 300px;
    text-align: left;
    transition: transform 0.3s ease;
}

.repeat-star {
    display: flex;
    gap: 3px;
}

.stars img {
    width: 15px;
    margin-bottom: 10px;

}

.feedback h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.feedback p {
    font-size: 0.95rem;
    color: #8987A1;
    margin-bottom: 20px;
}

.reviewer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviewer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.reviewer p {
    margin: 2px;
    font-size: 0.85rem;
    color: #333333c7;
}

.reviewer small {
    color: #8987A1;
    font-size: 0.75rem;
}


.contact {
    display: flex;
    padding: 20px 150px 60px;
    gap: 110px;
}

.contact-left {
    flex: 1;
    padding: 30px 0;
}

.contact-left h1 {
    font-size: 90px;
}

.contact-right {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.contact-right input,
.contact-right textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #D6DDED;
    border-radius: 6px;
}

footer {
    padding: 100px 455px;
    align-items: center;
    text-align: center;
}

footer h1 {
    font-weight: bold;
    font-size: 100px;
    color: #4E47FF;
    margin-bottom: 15px;
}

footer p {
    color: #8987A1;
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    display: flex;
    margin-top: 30px;
    gap: 50px;
    justify-content: center;
}

footer ul li a {
    text-decoration: none;
    color: #8987A1;
}